li {
    list-style: none;
}

.team-name {
    text-decoration-color: "secondary";
}

.player {
    margin: 3px;
}

.team-list {
    padding-left: 20px;
    padding-right: 20px;
}
.fullTeam{
    /* border: 2px solid #fdfffc; */
    margin: 10px;
    /* width:200px; */
    overflow-wrap: break-word
}